<section class="db-groups">
  <div class="card-group">
    <h2>My Recipes</h2>
  </div>
  {{!-- {{#each recipes as |recipe|}} --}}
  <div class="card">
    <div class="card-title">
      <h4>Recipe Name:</h4>
      <input name="recipe-name" type="text" value="{{recipe.recipe_name}}" />
    </div>
    <div class="card-body">
      <input name="recipe-ingredients" type="text" value=" Ingredients: {{recipe.ingredients}}" />
      <input name="recipe-instructions" type="text" value=" Instructions: {{recipe.instructions}}" />
      <input name="recipe-user" type="text" value="Created By: {{recipe.user.username}}" />
      {{!-- <p>Instructions: {{this.instructions}}</p> --}}
      {{!-- <p>Created By: {{user.username}}</p> --}}
    </div>
  </div>
  {{!-- {{/each}} --}}
</section>

{{!-- <script src="/javascript/recipe-buttons.js"></script> --}}
    <div class="btn">
      <button type="submit" id="save-btn">Save recipe</button>
      <button type="button" id="delete-btn">Delete recipe</button>
    </div>
    </div>


{{!-- <script src="/javascript/edit-post.js"></script> --}}