<div class="edit-add-container">
  <div class="container-form">
    <div class="addContainer" id="add-container">
      <button class="add-drink" id="newDrink">Add a New Drink</button>
    </div>
    <div class="inputContainer">
            <label for="newRecipeName">Drink Name</label>
            <input type="text" placeholder="Grasshopper" name="newDrinkName" id="newDrinkName" class="form-input" />
            <label for="newDrinkIngr">List Ingredients Here:</label>
            <input type="text" placeholder="Creme De Menthe" name="newDrinkIngr" id="newDrinkIngr" class="form-input"/>
            <label for="newRecipeInstructions">Write Instructions Here:</label>
            <input type="text" placeholder="Blend Ice Cream" name="newDrinkIns" id="newDrinkIns" class="form-input"/>
            <button type="submit" class="add-list-item" id="addDrink">Add Item to Your List</button>
    </div>
    <div class="editContainer" id="edit-container">
      <div class="editNameInput" id="edit-name"></div>
      <div class="editNameInput" id="edit-item"></div>
      <div class="editNameInput" id="edit-inst"></div>
      <button class="edit-list-item" id="editDrink">Edit Drink Recipe</button>
    </div>
    <div class="deleteContainer">
      <button class="delete-list-item" id="deleteDrink">Delete a Recipe</button>
    </div>
  </div>
  <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
  <button onclick="window.location.href='/dashboard/drinks'">Return to Drinks</button>

</div>
</div>

<section class="db-groups">
    <div class="card-group">
            <h2>My Drinks</h2>
        </div>
            {{#each drinks as |drink|}}
            <div class="card">
                <div class="card-title">
                     <h4>Drink Name:</h4>
                     <a href='/api/drinks/edit/{{id}}'>{{this.drink_name}}</a>
                </div>
                <div class="card-body">
                    <p>Ingredients: {{this.ingredients}}</p>
                    <p>Instructions: {{this.instructions}}</p>
                    <p>Created By: {{user.username}}</p>
                </div>
            </div>
            {{/each}}
</section>

<script src="/javascript/add-drink.js"></script>

