<div class="edit-add-container">
  <div class="container-form">
    <div class="addContainer" id="add-container">
      <button class="add-list-item" id="newRecipe">Add a New Recipe</button>
    </div>
    <div class="editContainer" id="edit-container">
      <div class="editNameInput" id="edit-name"></div>
      <div class="editNameInput" id="edit-item"></div>
      <div class="editNameInput" id="edit-inst"></div>
      <button class="edit-list-item" id="editRecipe">Edit a Recipe name or Ingredients</button>
    </div>
    <div class="deleteContainer">
      <button class="delete-list-item" id="deleteRecipe">Delete a Recipe</button>
    </div>
  </div>
  <button onclick="window.location.href='/dashboard'">Return to Dashboard</button>
  <button onclick="window.location.href='/dashboard/recipes'">Return to Recipes</button>
</div>
<section class="db-groups">
  <div class="card-group">
    <h2>My Recipes</h2>
  </div>
  {{#each recipes as |recipe|}}
  <div class="card">
    <div class="card-title">
      <h4>Recipe Name:</h4>
      <a href='/api/recipes/edit/{{id}}'>{{this.recipe_name}}</a>
    </div>
    <div class="card-body">
      <p>Ingredients: {{this.ingredients}}</p>
      <p>Instructions: {{this.instructions}}</p>
      <p>Created By: {{user.username}}</p>
    </div>
  </div>
  {{/each}}
</section>

<script src="/javascript/recipe-buttons.js"></script>
<script src="/javascript/add-recipe.js"></script>